@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
    --font-magic: "Doto", sans-serif;
}

.astro-code {
    @apply mockup-code;
}
