---
import { Icon } from "astro-icon/components";
import Base from "../layouts/Base.astro";
---

<Base
	title="404"
	description="Whatchu looking for?"
	main={true}
	class="w-full h-full"
>
	<div class="center w-full h-[100vh] gap-2">
		<Icon name="tabler:location-x" class="w-[124px] h-[124px]" />
		<h1>
			<span class="statusCode">404: </span><span class="statusMessage"
				>Not found
			</span>
		</h1>
		<pre>Path: {Astro.url.pathname}</pre>
	</div>
</Base>

<style>
	:root {
		--gray-10: hsl(258, 7%, 10%);
		--gray-20: hsl(258, 7%, 20%);
		--gray-30: hsl(258, 7%, 30%);
		--gray-40: hsl(258, 7%, 40%);
		--gray-50: hsl(258, 7%, 50%);
		--gray-60: hsl(258, 7%, 60%);
		--gray-70: hsl(258, 7%, 70%);
		--gray-80: hsl(258, 7%, 80%);
		--gray-90: hsl(258, 7%, 90%);
		--black: #13151a;
		--accent-light: #e0ccfa;
	}

	* {
		box-sizing: border-box;
	}

	html {
		background: var(--black);
		color-scheme: dark;
		accent-color: var(--accent-light);
	}

	body {
		background-color: var(--gray-10);
		color: var(--gray-80);
		font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
			"Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
			"Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
			monospace;
		line-height: 1.5;
		margin: 0;
	}

	a {
		color: var(--accent-light);
	}

	.center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		margin-bottom: 8px;
		color: white;
		font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 700;
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.statusCode {
		color: var(--accent-light);
	}

	pre,
	code {
		padding: 2px 8px;
		background: rgba(0, 0, 0, 0.25);
		border: 1px solid rgba(255, 255, 255, 0.25);
		border-radius: 4px;
		font-size: 1.2em;
		margin-top: 0;
		max-width: 60em;
	}
</style>
