---
import about from '../assets/about.webp';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={about}
	draft={false}
>
	<p>
		what
	</p>

	<p>
		do i
	</p>

	<p>
		write
	</p>

	<p>
		here.
	</p>
</Layout>
