---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I'm Theo."
	pubDate={new Date('February 06 2024')}
	heroImage="/about.png"
>
	<p>
		I'm a human (real). I make Minecraft
		<a href="https://modrinth.com/user/drtheodor">mods</a> & <a href="https://www.spigotmc.org/members/drthep.1368327/">plugins</a>.
		Also I might post my rants here. They might be about technical stuff, but might be political. I don't know.
	</p>

	<p>
		I code in Java, C++ and Python. And I'm pretty sure I'm good at it (except for C++, that mess of a langauge-).
		I might have grammatical issues, since English is not my native language, so please, if you find a mistake in my wording, 
		please tell me so in the comments of the social media I posted the blog post at.
	</p>

	<p>
		<q>Everything's got to end sometime. Otherwise nothing would ever get started.</q>
	</p>

	<p>
		(Avatar image by <code>@dark3yes_</code> on Discord)
	</p>
</Layout>
