---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('projects'));
---

<BaseLayout
	title="Projects | Theo Makes Stuff"
	description="Here are some of the projects I've participated in recently."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Projects"
				tagline="Here are the projects I participated in recently."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
