---
import { SITE_FOOTER } from "@/config";
import SocialLinks from "./SocialLinks.astro";
---

<footer
    class="footer sm:footer-horizontal bg-base-100 text-neutral-content items-center p-4"
>
    <aside class="grid-flow-col items-center">
        <p>{SITE_FOOTER}</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <SocialLinks />
    </nav>
</footer>
