---
import SocialLinks from "./SocialLinks.astro";
---

<footer
    class="footer sm:footer-horizontal bg-base-100 text-neutral-content items-center p-4"
>
    <aside class="grid-flow-col items-center">
        <p>
            Not so Copyright © {new Date().getFullYear()} - made with with Astro 🚀
            and absolute incompetence.
        </p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <SocialLinks />
    </nav>
</footer>
