---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
---

<header>
	<nav>
		<h2><a href="/" data-astro-reload>{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<SocialLinks />
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		color: white;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
	}

	.social-links,
	.social-links a {
		display: flex;
		gap: 1em;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
