---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialButton from "./SocialButton.astro";
---

<header>
	<nav>
		<h2><a href="/" data-astro-reload>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<SocialButton
				icon="tabler:brand-mastodon"
				link="https://m.webtoo.ls/@astro"
				text="Follow Astro on Mastodon"
			/>

			<SocialButton
				icon="tabler:brand-x"
				link="https://twitter.com/astrodotbuild"
				text="Follow Astro on Twitter"
			/>

			<SocialButton
				icon="tabler:brand-github"
				link="https://github.com/withastro/astro"
				text="Go to Astro's GitHub repo"
			/>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		color: white;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
	}

	.social-links,
	.social-links a {
		display: flex;
		gap: 1em;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
