---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
---

<header class="m-0 pt-0 pb-0 pr-2 pl-2 text-white">
	<nav class="flex items-center justify-between pt-4 pb-8">
		<h2 class="m-0 text-2xl p-2"><a href="/" data-astro-reload>{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/" class="p-2">Home</HeaderLink>
			<HeaderLink href="/blog" class="p-2">Blog</HeaderLink>
			<HeaderLink href="/about" class="p-2">About</HeaderLink>
		</div>
		<SocialLinks class="max-[720px]:hidden" />
	</nav>
</header>
