---
import SocialButton from "./SocialButton.astro";
import { SOCIALS } from "src/consts";

type Props = {
    class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class:list={["flex gap-4", className]}>
    { SOCIALS.map(social => {
        return (
            <SocialButton
                icon={social.icon}
                link={social.url}
                text={social.text}
            />           
        );
    }) }
</div>
