---
import SocialButton from "./SocialButton.astro";

type Props = {
    class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class:list={["flex gap-4", className]}>
    <SocialButton
        icon="tabler:brand-mastodon"
        link="https://fosstodon.org/@drtheo"
        text="Follow on Mastodon"
    />

    <SocialButton
        icon="tabler:brand-x"
        link="https://x.com/DrTheodor_"
        text="Follow on Twitter"
    />

    <SocialButton
        icon="tabler:brand-bluesky"
        link="https://bsky.app/profile/dr-theo.bsky.social"
        text="Follow on Bluesky"
    />

    <SocialButton
        icon="tabler:brand-github"
        link="https://github.com/drtheodor"
        text="Follow on GitHub"
    />
</div>
